.msg_body_me {
  background-color: #eeeeee;
  margin-left: auto;
  color: black;
  border-bottom-right-radius: 0 !important;
}
.msg_body_me .read {
  color: #1b1b1b;
}

.msg_body_receiver {
  background-color: #138ffb;
  color: white;
  border-bottom-left-radius: 0 !important;
}
.msg_body_receiver .read {
  color: #cccccc;
}

/*---------------------------*/
img {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: rgba(240, 240, 240, 0.116) !important;
}

.chat_container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  border: 1px solid #f3f2f2;
  border-radius: 0;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 6px;
  z-index: 10;
  background-color: #fff;
}
@media (min-width: 769px) {
  .chat_container {
    top: unset;
    height: 90%;
  }
}
@media (min-width: 1025px) {
  .chat_container {
    position: fixed;
    width: 95%;
    left: 2.5%;
    height: 85%;
    border: 1px solid #cacaca;
    border-radius: 9px;
    margin-top: 15px;
  }
}

/*---------------------------*/
.chat_list_container {
  border-right: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
@media (min-width: 769px) {
  .chat_list_container {
    width: 310px;
    border-right: 1px solid #e2e2e2;
  }
}
.chat_list_container .chatlist_header {
  border-bottom: 1px solid #c4c2c2;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.chat_list_container .chatlist_header .title {
  font-size: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.chat_list_container .chatlist_header .img_container {
  height: 39px;
  width: 39px;
  margin: auto;
  margin-left: auto;
  margin-right: 5px;
}
.chat_list_container .chatlist_header .img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid rgba(55, 101, 202, 0.726);
}
.chat_list_container .chatlist_body .chatlist_item {
  padding: 2px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 96%;
  margin: 9px 4px;
  border-radius: 14px;
  background-color: #f1f1f1;
  cursor: pointer;
}
.chat_list_container .chatlist_body .chatlist_item:hover {
  background-color: #dddddd;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_img_container {
  height: 47px;
  width: 47px;
  margin: auto;
  margin-left: auto;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info {
  padding: 2px 5px;
  width: 80%;
  display: block;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row {
  margin: 3px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row .list_username {
  font-size: 16px;
  width: 80%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .top_row .date {
  font-size: 13px;
  margin-left: auto;
  margin-right: 3px;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row .message_body {
  width: 80%;
  font-weight: lighter;
  font-family: "Roboto";
}
.chat_list_container .chatlist_body .chatlist_item .chatlist_info .bottom_row .unread_count {
  margin-left: auto;
  font-size: 13px;
  padding: 2px 7px;
  margin-top: 6px;
  border-radius: 50%;
  color: red;
  font-weight: lighter;
}

/*---------------------------*/
.chat_box_container {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
@media (min-width: 769px) {
  .chat_box_container {
    width: calc(100% - 310px);
  }
}
.chat_box_container .chatbox_header {
  width: 100%;
  position: absolute;
  top: 0;
  border-bottom: 1px solid rgba(219, 219, 219, 0.952);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.chat_box_container .chatbox_header .img_container {
  height: 41px;
  width: 41px;
  margin: auto 0;
  margin-left: 4px;
}
.chat_box_container .chatbox_header .img_container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #edf7ff;
}
.chat_box_container .chatbox_header .return {
  margin: auto 0;
  font-size: 21px;
  padding: 7px 11px;
  cursor: pointer;
  color: gray;
}
.chat_box_container .chatbox_header .name {
  margin: auto 5px;
  cursor: pointer;
  color: #3d3d3d;
  font-weight: lighter;
}
.chat_box_container .chatbox_header .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: auto 0 auto auto;
  color: #0182f4;
  font-size: 19px;
}
.chat_box_container .chatbox_header .info .info_item {
  margin: 1px 11px;
  padding: 3px 5px;
  padding: 4px 7px;
  cursor: pointer;
}
.chat_box_container .chatbox_header .info .info_item:hover {
  color: #57affc;
}
.chat_box_container .chatbox_body {
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  position: absolute;
  top: 60px;
  height: 77%;
  bottom: 63px;
  padding: 17px 26px;
}
.chat_box_container .chatbox_body .msg_body {
  border-radius: 15px;
  display: block;
  max-width: 80%;
  margin-top: 11px;
  font-size: 16.6px;
  padding: 4px 12px;
  font-weight: normal;
}
.chat_box_container .chatbox_body .msg_body .msg_body_footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: right;
      -ms-flex-align: right;
          align-items: right;
  font-weight: normal;
  font-family: "Roboto";
}
.chat_box_container .chatbox_body .msg_body .msg_body_footer .date {
  font-size: 13px;
  padding-right: 7px;
}
.chat_box_container .chatbox_body .msg_body .msg_body_footer .read i {
  font-size: 21px;
  margin: 2px;
}
.chat_box_container .chatbox_footer {
  height: 60px;
  width: 100%;
  border-top: 1px solid #e9e9e9;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: white;
}
.chat_box_container .chatbox_footer .custom_form_group {
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  padding: 2px 6px;
}
.chat_box_container .chatbox_footer .custom_form_group .control {
  margin: auto 0;
  width: 90%;
  border: 0;
  outline: none;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  background-color: rgba(226, 226, 226, 0.87);
  border-radius: 11px;
}
.chat_box_container .chatbox_footer .custom_form_group .control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border-style: 0;
}
.chat_box_container .chatbox_footer .custom_form_group .submit {
  font-size: 18px;
  font-weight: bold;
  padding: 4px 5px;
  color: #0484f3;
  width: 10%;
}